@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: #0a0d19;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.bg-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.5;
    padding: 20px;
}   

.bg-image img{
    width: 100%;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.nav-item-viak {
    position: absolute;
    left: 0;
}

.nav-item{
    color: #fff;
    text-align: center;
    padding: 25px 20px;
    text-transform: uppercase;
    font-weight: 650;
    text-decoration: none;
}


.landing-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: auto;
    width: 65%;
}

.landing-page-content {
    display: flex;
    flex-direction: column;
    flex: 0.5;
}

.landing-right-title{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #ccc;
    padding: 10px;
}

.landing-right-content{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #cff;
    padding: 10px;
}

.scroll {
    text-decoration: none;
    text-align: center;
    width: 65%;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
}

.testimonials-section{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0f1527;
}

.testimonials-container{
    display: flex;
    flex-direction: row;
    gap: 35px;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.testimonials-container img{
    object-position: center left;
    object-fit: contain;
}

.gallery-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.section-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #ccc;
    padding: 10px;
    margin: 20px ;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 18px;
}

@media screen and (max-width: 600px) {
    .nav-item-viak{
        display: none;
    }

    .landing-page{
        flex-direction: column;
    }

    .bg-image{
        padding-bottom: 0;
    }

    .nav-bar{
        gap: 3px;
    }

    .gallery{
        width: 100%;
        padding: 15px;
    }

    .gallery img{
        width: 100%;
    }
}
